.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container * {
    margin-top: 0;
    margin-bottom: 8px;
}

.container input {
    margin-bottom: 16px;
}

.container input {
    text-align: center;
}
